{
  "extends": "airbnb",
  "rules": {
    "no-unused-vars": [2, {"args": "after-used", "argsIgnorePattern": "^_"}],
    "react/jsx-filename-extension": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-curly-spacing": [2, { "when": "always" }],
    "react/prefer-stateless-function": 0,
    "import/prefer-default-export": 0,
    "max-len": 0
  },
  "env": {
    "es6": true,
    "jest": true
  }
}
